{block content}
    <h1>ACL - Resource detail</h1>
    <a href="{plink default}">back</a>
    {form resourceForm}
    {input name}
        <br/>
    {input comment}
    {input submit}

    {if count($resources)}
        {block #resources}
            <ul>
                <li>
                    <input type="radio" name="resource" id="resource_0" value="0">
                    <label for="resource_0">nic</label>
                </li>
                {foreach $resources as $resource}
                    {if $resource->getId() != $id}
                        <li>
                            <input type="radio" name="resource" id="resource_{$resource->getId()}" value="{$resource->getId()}" {if $parentId == $resource->getId()}checked{/if}>
                            <label for="resource_{$resource->getId()}">{$resource->getName()}</label>
                            {if count($resource->getChildrens())}
                                {include #resources, resources => $resource->getChildrens()}
                            {/if}
                        </li>
                    {/if}
                {/foreach}
            </ul>
        {/block}
    {/if}
    {/form}
{/block}