<!--[if lt IE 7 ]>
<html class="ie ie6 ltIe8 ltIe9" lang="cs"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7 ltIe8 ltIe9" lang="cs"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8 ltIe9" lang="cs"> <![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="cs" > <![endif<]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="cs">  <!--<![endif]-->