<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/vendors/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/vendors/js/jquery.validate.min.js"></script>