parameters:
	database:
		default:
			host: {{DB_HOST}}
			port: {{DB_PORT}}
			user: {{DB_USER}}
			password: {{DB_PASSWORD}}
			name: {{DB_NAME}}

	serializer:
		groups:
			apiList: "apiV1_list"
			apiDetail: "apiV1_detail"

	rest:
		default_format: json

	version:
		timestamp: {{TIME_STAMP}}

	acl:
		cache: true
		namespace: User.Acl
		key: permission