<!DOCTYPE html>
{include '../../templates/html/browserRecognition.latte'}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{ifset #description}{include description}{else}{_meta.description}{/ifset}">
    <meta name="keywords" content="{ifset #keywords}{include keywords}{else}{_meta.keywords}{/ifset}">

    {include '../../templates/html/favicon.latte'}
    <title>{ifset #title}{include title}{else}{_meta.title}{/ifset} | {_meta.project}</title>
    {include '../../templates/scripts/html5tagsSupport.latte'}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous" />
    <link rel="stylesheet" href="/build/admin{if $isProduction}.min{/if}.css?v={$versionTimeStamp}" media="screen">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="{ifCurrent Sign:in}signin{/ifCurrent}">
    <div>
        {snippet flashMessages}
        {if count($flashes)}
            <div class="flashMessage flashMessage--autoclose">
                <ul>
                    {foreach $flashes as $flash}
                        <li class="flashMessage__item">{$flash->message}</li>
                    {/foreach}
                </ul>
            </div>
        {/if}
        {/snippet}
        <div id="content">
            {include content}
        </div>
    </div>
    {include '../../templates/scripts/jquery.latte'}
    <script src="/build/admin{if $isProduction}.min{/if}.js?v={$versionTimeStamp}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    {*<script src="/build/react{if $isProduction}.min{/if}.js?v={$versionTimeStamp}" type="text/javascript"></script>*}
    {include '../../templates/scripts/nette.bootstrap.latte'}
</body>
</html>