.footer {
    background: $pink;
    padding: 40px 0;
    
    .logo {
        display: block;
    }
    
    a {
        color: $white;
        font-size: 15px;
        display: inline-block;
        margin-top: 25px;
    }
}