create:
    form:
        name: Jméno testu
        enter: Založit
        errors:
            fill_name: Zadejte název testu
            error: Test se nepodařilo založit

list:
    error:
        no_test: Kde nic není ani smrt nebere

delete:
    errors:
        not_found: Požadovaný test nebyl nalezen
        no_permission: Nemáte oprávnění
        error: Test se nepodařilo odstranit
