create:
    form:
        name: Jméno testu
        enter: Založit
        errors:
            fill_name: Zadejte název testu
            error: Test se nepodařilo založit

update:
    form:
        name: Jméno testu
        description: Popis testu
        enter: Upravit
        errors:
            fill_name: Zadejte název testu
            error: Test se nepodařilo upravit

create_question:
    form:
        question: Otázka
        description: Doplňující popis
        type: Typ otázky
        type_options:
            checkbox: více možných odpovědí
            radio: jedna možná odpověď
            sort: řazení odpovědí
        enter: Založit
        errors:
            fill_question: Zadejte  otázku
            error: Otázku se nepodařilo založit

update_question:
    form:
        question: Otázka
        description: Doplňující popis
        enter: Upravit
        errors:
            fill_question: Zadejte  otázku
            error: Otázku se nepodařilo upravit
        success:
            question: Upraveno

list:
    error:
        no_test: Kde nic není ani smrt nebere

delete:
    errors:
        not_found: Požadovaný test nebyl nalezen
        no_permission: Nemáte oprávnění
        error: Test se nepodařilo odstranit

delete_question:
    errors:
        error: Otázku se nepodařilo odstranit
    success: Otázka odstraněna
