welcome_to_course: "Vítejte v kurzu"
welcome_title: "Pojištění nahodilého<br />poškození a krádeže"
welcome_text: "Provede vás vším, co byste o pojištění měli vědět. Probíha formou testu, nemusíte se bát&nbsp;-&nbsp;všechny správné i špatné odpovědi vám vysvětlíme."
start_course: "Začít kurz"
already_completed: "Tento test máš již za sebou."
have_question: "Máte dotaz k náplni či připomínku ke kurzu? Napište nám je."
congratulation_title: "Gratulujeme!"
congratulation_text: "Právě jste prošli celým kurzem a&nbsp;jste připraveni prodávat Pojištění nahodilého poškození a&nbsp;krádeže. Na váš email jsme poslali certifikát o&nbsp;absolvování kurzu a&nbsp;zároveň jsme informovali vašeho nadřízeného, že jste kvalifikovaný prodejce pojištění.<span>Děkujeme za váš čas.</span>"
question_text: "Otázka"
choose_more_options: "Vyberte více možností."
choose_one_option: "Vyberte jednu možnost."
arrange_options: "Seřaďte možnosti."
button_continue: "Pokračovat"
wrong_answer_title: "Nesprávně"
wrong_answer_text: "<strong>Kapesní krádež je náhodná událost</strong> a jako takovou ji pojištění kryje."