create:
    form:
        name: Jméno testu
        enter: Založit
        errors:
            fill_name: Zadejte název testu
            error: Test se nepodařilo založit

update:
    form:
        name: Jméno testu
        description: Popis testu
        enter: Upravit
        errors:
            fill_name: Zadejte název testu
            error: Test se nepodařilo upravit

display:
    form:
        enter: Odeslat
        errors:
            error: Test se nepodařilo odeslat

create_question:
    form:
        question: Otázka
        description: Doplňující popis
        type: Typ otázky
        type_options:
            checkbox: více možných odpovědí
            radio: jedna možná odpověď
            sort: řazení odpovědí
        enter: Založit
        errors:
            fill_question: Zadejte  otázku
            error: Otázku se nepodařilo založit

create_option:
    errors:
        error: Další možnost se nepodařilo založit
    success: Další možnost vytvořena

update_question:
    form:
        question: Otázka
        description: Doplňující popis
        enter: Upravit
        errors:
            fill_question: Zadejte  otázku
            error: Otázku se nepodařilo upravit
        success:
            question: Upraveno

update_option:
    form:
        option: Možnost
        description: Doplňující popis
        annotation: Vysvětlivka
        sort: Pořadí
        correct: Správná odpověď
        choose: Vyberte jednu z možností
        enter: Upravit
        errors:
            fill_option: Zadejte  možnost
            error: Možnosti se nepodařilo upravit
        success:
            option: Upraveno


list:
    error:
        no_test: Kde nic není ani smrt nebere
        no_question: Kde nic není ani smrt nebere
        no_option: Kde nic není ani smrt nebere

delete:
    errors:
        not_found: Požadovaný test nebyl nalezen
        no_permission: Nemáte oprávnění
        error: Test se nepodařilo odstranit

delete_question:
    errors:
        error: Otázku se nepodařilo odstranit
    success: Otázka odstraněna

delete_option:
    errors:
        error: Možnost se nepodařilo odstranit
    success: Možnost odstraněna

