{block content}
    <div class="thxPage">
        <div class="container">
            <div class="thxPage__box">
                <div class="title">{_content.congratulation_title}</div>
                <p>
                    {_content.congratulation_text|noescape}
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="logo">&nbsp;</div>
            <a href="#">
                {_content.have_question}
            </a>
        </div>
    </footer>
{/block}

{block bodyClass}pinkBG{/block}
{block title|striptags}{_meta.done_page}{/block}