{block content}
    <div class="container">
        <header class="header">
            <div class="logo">&nbsp;</div>
            <div class="errorBox">
                <div class="title">404</div>
                <h2>Stránka nenalezena</h2>
            </div>
        </header>
        <div class="contact">
            <p>
                Omlouváme se, ale požadovaná stránka nebyla nalezena.
            </p>
        </div>
    </div>
{/block}
