/* [Core] - Config
------------------------------------------------------------------ */

// Timestamp
$random: {{TIME_STAMP}};

// Paths
$imgPath: "../assets/images/backgrounds/";
$fontsPath: "../assets/fonts/";