/* [Core] - Config
------------------------------------------------------------------ */

// Timestamp
$random: random(1000);

    // Paths
$imgPath: "../assets/images/";
$fontsPath: "../assets/fonts/";