/* [Core] - Config
------------------------------------------------------------------ */

// Timestamp
$random: 7456465;

// Paths
$imgPath: "../assets/images/backgrounds/";
$fontsPath: "../assets/fonts/";