/* [Core] - Variables
------------------------------------------------------------------ */

// Base Color
$black: #000;
$white: #fff;

// Colors
$green: #44d63d;
$blue: #3d89d6;
$red: #d63d3d;
$light-grey: #e8e8e8;
$pink: #e20074;
$grey: #6a6a6a;
$orange: #ff8400;

// Settings
$borderRadius: 5px;