{block content}
    <div class="container">
        <h2 class="mb-1">Přidat test</h2>
        <div class="row mb-3">
            <div class="col-xs-9">
                <input type="text" class="form-control" id="add" placeholder="Název testu" />
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-primary btn-block">Přidat test</button>
            </div>
        </div>

        <h2 class="mb-1">Seznam testů</h2>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">První test</h4>
                        <a href="#" class="card-link">Editovat</a>
                        <a href="#" class="card-link">Smazat</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Druhý test</h4>
                        <a href="#" class="card-link">Editovat</a>
                        <a href="#" class="card-link">Smazat</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Třetí test</h4>
                        <a href="#" class="card-link">Editovat</a>
                        <a href="#" class="card-link">Smazat</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Čtvrtý test</h4>
                        <a href="#" class="card-link">Editovat</a>
                        <a href="#" class="card-link">Smazat</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Pátý test</h4>
                        <a href="#" class="card-link">Editovat</a>
                        <a href="#" class="card-link">Smazat</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Šestý test</h4>
                        <a href="#" class="card-link">Editovat</a>
                        <a href="#" class="card-link">Smazat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block title|striptags}Seznam testů{/block}