{block content}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 offset-lg-2">
                <ul class="nav nav-tabs mb-2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {if $tab == 'detail' || $tab == NULL}active{/if}" href="{plink this tab=>'detail'}" role="tab">Detail testu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {if $tab == 'addQuestion'}active{/if}" href="{plink this tab=>'addQuestion'}" role="tab">Přidat otázku</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {if $tab == 'addAnswer'}active{/if}" href="{plink this tab=>'addAnswer'}" role="tab">Přidat odpověď</a>
                    </li>
                </ul>

                <div class="tab-content">
                    {if $tab == 'addAnswer'}
                        <div class="tab-pane" id="add-answer" role="tabpanel">
                            {snippet questions}
                                {if count($test->getQuestions())}
                                    {foreach $test->getQuestions() as $question}
                                        {if !$question->isDeleted()}
                                            {var $questionId = $question->getId()}
                                            {control updateTestQuestionForm-$questionId}
                                        {/if}
                                    {/foreach}
                                {else}
                                    {_test.list.error.no_question}
                                {/if}
                            {/snippet}
                        </div>
                    {elseif $tab == 'addQuestion'}
                        <div class="tab-pane" id="add-question" role="tabpanel">
                            <h2 class="mb-1">Přidat otázku</h2>
                            {control createTestQuestionForm}
                        </div>
                    {else}
                        <div class="tab-pane active" id="test-detail" role="tabpanel">
                            <h2 class="mb-1">Detail testu</h2>
                            {control updateTestForm}
                        </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
{/block}

{block title|striptags}{_meta.admin_detail}{/block}