#content {
    padding: 40px 0;
}

.flashMessage {
    text-align: center;
    @include position(fixed, 0 null null 0);
    width: 100%;
    z-index: 100;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.tab-content>.tab-pane {
    display: block;
}

.logout {
    margin-top: 7px;
    display: inline-block;
    
    span {
        display: inline-block;
        margin-left: 5px;
    }
}