services:
	- DontPanic\Auth\PresenterAuthorizationModel

	- DontPanic\Acl\SetAclModel
	- DontPanic\Acl\AclModel
	- DontPanic\Acl\AclResourceModel
	- DontPanic\Acl\AclPrivilegesModel
	- DontPanic\Acl\AclRoleModel

	- DontPanic\User\UserLoginModel
	- DontPanic\User\UserModel
	- DontPanic\User\UserPasswordModel
	- DontPanic\User\UserRegisterModel
	- DontPanic\User\UserFilterModel

	- DontPanic\Setting\SettingModel
	- DontPanic\Setting\SettingCategoryModel

	- DontPanic\Company\CompanyModel

	- DontPanic\SmsCode\SmsCodeModel

	- DontPanic\Test\TestModel
	- DontPanic\Test\TestQuestionModel
	- DontPanic\Test\TestOptionModel
	- DontPanic\Test\UserTestAnswerModel
	- DontPanic\Test\UserTestScoreModel

	- DontPanic\Api\ApiTokenModel

	- DontPanic\ParametersProvider(
		%serializer.groups%,
		%rest%,
		%acl%,
		%version%
	)