@mixin calculate($width, $height, $x, $y) {
    width: $width/2;
    height: $height/2;
    background-position: (-$x/2) (-$y/2);
}

@mixin sprites($name) {
    
    @include retina-image($imgPath + sprite, 54px 39px, 'png', null, '@2x', false);
    
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    text-indent: -9999px;

    @if $name == "arrow" { @include calculate(108px, 79px, 0px, 0px); }
}
